.cards {
  padding: 4rem;
  background: #fff;
}

.cards h1 {
  text-align: left;
  font-size: 50px;
  color: #ff0000;
}
.card p {
  font-size: 16px;
  text-align: justify;
  margin: 0 10px 0 40px;
}
.cards h2 {
  font-size: 35px;
  text-align: left;
  font-style: italic;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.btn-dark.border {
  display: flex;
  position: absolute;
  background-color: transparent;
  color: #000;
  border: 1px solid #000000;
  margin-top: 2%;
  padding: 10px 40px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.cards__wrapper {
  display: flex;
  margin: 2% 0;
}

.cards__items__img img {
  display: flex;
  width: 90%;
  margin: 35px 15px;
  border-radius: 50%;
}

.cards__items {
  width: 100%;
  /* background: url("../../public/images/img-home.jpg"); */
}

.cards__item__img:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
    margin: 20px;
    width: 700%;
  }
}
